.homePage{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.mainview{
    display: flex;
    justify-content: space-around;
    height: inherit;
    width: inherit;
    align-items: center;
}
.weatherPane{
    padding: 10px;
    background-color: #23395b;
    border-width: 1px;
    border-radius: 50px;
    border-color: cadetblue;
    color: #d5ddfc;
    
}