.homePage{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.mainview{
    display: flex;
    justify-content: space-around;
    height: inherit;
    width: inherit;
    align-items: center;
    overflow-x: hidden;
}
.weatherPane, .newsPane, .currencyPane{
    margin: 10px;
    padding: 20px;
    background-color: #23395b;
    border-width: 1px;
    border-radius: 15px;
    border-color: cadetblue;
    color: #d5ddfc;
    
}
.hide{
    display: none;
}

.spinner1, .spinner2, .spinner3{
    margin-left: 5%;
    position: absolute;
    border: 0.5rem solid white;
    border-radius: 50%;
    border-top: 0.5rem solid blueviolet;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 500px){
    .stockprice{
        display: none;
    }
    #catcher{
        display: none;
    }
}